@import url(./shared.css);
.App {
  text-align: center; }

.navbar .container {
  width: 100%; }

.home-container {
  margin-top: 50px; }

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px; }

.App-header {
  background-color: white;
  height: 150px;
  padding: 20px;
  color: white; }

.footer {
  position: absolute;
  bottom: 0;
  text-align: center;
  background-color: #101010;
  color: whitesmoke;
  width: 100%;
  box-sizing: border-box;
  padding: 5px;
  height: 40px; }

.App-intro {
  font-size: large; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

.tool-box {
  padding: 5px; }

.form-builder-header {
  font-weight: 600;
  text-align: center;
  border-bottom: solid lightgray 0.5px;
  padding-bottom: 10px;
  margin-bottom: 10px; }

.item-list-li {
  list-style: none; }

.tool-item {
  cursor: pointer;
  list-style: none;
  margin: 2px;
  padding: 10px;
  border: 1px dashed #ddd;
  background-color: white;
  width: 100%;
  text-align: left;
  outline: none; }
  .tool-item:hover {
    background-color: #d1d1d1; }

.tool-item-icon {
  margin-right: 5px; }
