.customizer-form {
  padding: 10px;

  &-label {
    width: 50px;
    font-size: 14px;
    color: black;
    padding: 2px;
  }

  &-input {
    width: 150px;
  }

  .btn {
    width: 40px;
    margin: 10px;
  }
}

.customizer-form-label {
  width: 50px;
  font-size: 14px;
  color: black;
  padding: 2px;
}
